body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

/* Header Section */
header{
    padding: 3%;
    background-color: hsl(193, 100%, 96%);
    background-image: url(../images/bg-hero-desktop.svg);
}

#navbar{
    position: relative;
    grid-area: navbar;
}

#left-header-content{
    grid-area: left-header-content;
}

#right-header-content{
    grid-area: right-header-content;
    text-align: center;
}

#container{
    box-sizing: border-box;
    position: relative;
    top: 15%;
}

button{
    border-radius: 50px;
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 5px 0.5px rgb(184, 184, 184);
    transition-duration: 0.4s;
    padding: 0.75rem;
}

#trybutton{
    background-color: #fff;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
    position: absolute;
    right: 1rem;
    width: 10rem;
}

#trybutton:hover{
    background-color:hsl(0, 0%, 91%);
}

#getstartedbtn{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    width: 12rem;
}

#getstartedbtn:hover{
    background-color: hsl(322, 72%, 57%);
}

#illustration-mockups{
    width: 75%;
}

/* Artile Section */
article{
    display: flex;
    flex-direction: column;
}

.card{
    box-sizing: border-box;
    box-shadow: 0 0 5px 0.5px rgb(184, 184, 184);
    display: flex;
    height: 400px;
    margin: 25px 100px;
}

.article-content-container{
    flex: 1;
    position: relative;
}

.article-content{
    margin: 15%;
}

.article-content > p{
    color:hsl(0, 0%, 43%);
}

.article-image{
    width: 60%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Media Queries */

@media screen and (min-width: 756px){
    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "navbar navbar"
                             "left-header-content right-header-content"
                             "left-header-content right-header-content"
                             "left-header-content right-header-content";
    }
}

@media screen and (max-width: 756px){
    header{
        background-image: url(../images/bg-hero-mobile.svg)
    }

    #trybutton{
        width: 25%;
        font-size: 0.5rem;
    }

    #left-header-content, #right-header-content{
        margin-top: 25%;
        margin-bottom: 25%;
        text-align: center;
    }

    #logoimg{
        width: 25%;
    }

    #container{
        top: 0;
    }
}